<!DOCTYPE html>
<head>
<title>Epam DevOps online Autumn 2021</title>
</head>
<body>
<h1 align="center">Maksym Yuhov</h1>
<h2 align="center">EPAM DevOps online Autumn 2021</h2>
<h3 align="center">{{ ansible_hostname }}, {{ ansible_os_family }}</h2>
<h3 align="center">{{ ansible_default_ipv4.address }}</h2>
<p>Tasks:</p>
<ol>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m1/task1.1/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m2/task2.1/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m2/task2.2/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m3/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m4/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m5/task5.1/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m5/task5.2/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m5/task5.3/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m6/task6.1/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m6/task6.2/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m7/task7.1/readme.md</li>
    <li>https://github.com/Maksull/DevOps_online_Kharkiv_2021Q4/blob/72c4693cc2123766518ab94b87c04a415ea6d294/m8/task8.1/readme.md</li>
</ol>
<p>Courses:</p>
<ul>
    <li>---</li>
</ul>
</body>
</html>